.slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:3rem;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}
.slider .slider-img {
    position: absolute;
    z-index: -1;
}
.slider .slider-img img {
    width: 100%;
}
.slider .slider-title h1 {
  font-size:4rem;
  margin: 0;
  background:linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-text p{
  font-size:1.4rem;
  font-weight:600;
  background:linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-button button {
    background-color: rgba(0, 247, 41, 0.7);
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-weight: 600;
    height:95%;
    padding: 1em 1.5em;
    transition:.5s ease-out;    
}
.slider-button button:hover {
    background-color: #949191;
    color:#fff;
    transform:scale(1.4);
    
}